<div class="row">
    <h5>CRUD Music Books</h5>
  <a {{action 'createItem'}} class="waves-effect waves-light btn">Create Music Book</a>
</div>
<div class="row">
        {{#each model as |book|}}
          <div class="col s3">
          {{book-item
            book=book
            deleteItem=(action 'deleteItem' book)
            updateItem=(action 'updateItem' book)
          }}
            </div>
        {{else}}
          <h5>There are no Music Books registered...</h5>
        {{/each}}
</div>
